body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry,
.online-entry {
  padding: 5px 5%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: rgba(40, 40, 79, 0.7);
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: rgba(40, 40, 79, 0.4);
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #8B8B8B;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #8B8B8B;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
  width: 100%;
}

em {
  font-size: 14px;
}

a {
  color: rgba(0, 14, 160, 0.6);
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.blue {
  background-color: rgba(40, 40, 79, 0.25);
  padding-bottom: 10px;
  clear:both;
}

.dark-blue {
  background-color: rgba(40, 40, 79, 1);
}

#header {
  background-color: rgba(40, 40, 79, 1);
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

.online-classes {
  padding-top: 25px;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#map-div {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/*below stlye triggers when skills are clicked*/
.skill-clicked {
  background-color: rgba(34, 215, 222, 0.5);
}

/*changes layout of projects section*/

#projects {
  display: flex;
  flex-flow: row wrap;
}

.projects-header {
  width: 100%;
}

.project-entry {
  width: calc(100%/3);
  flex-shrink: 0;
  flex-grow: 1;
}

/*moves internationalize button and welcome msg to middle of screen*/

#int-button,
.welcome-message {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.clear-both {
  clear: both;
}

.biopic {
  float: left;
}

.skills-li {
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;
  padding-top: 10px;
}

#role {
  padding-left: 10px;
  color: white;
}

/*make cursor change to hand when over skills*/
.cursor-hand {
  cursor: pointer;
  cursor: hand;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }

  .project-entry {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  #int-button {
    margin: 20px auto;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }

  .skills-container {
    width: 50vw;
    margin: 0 auto;
  }
  .skills-li {
    width: 25%;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .project-entry {
    width: 100%;
  }
  #name {
    display: block;
  }
  #role {
    padding-left: 5px;
  }
  #int-button {
    display: none;
  }
}
